
<div class="titre-profile">
<h1>Bienvenue, <%= current_user.username %></h1>
</div>

<div class="container-profile-1">

<div>
    <% if Recycle.where(user: current_user).count >= 25 %>
      <% times = 5 %>
    <% elsif Recycle.where(user: current_user).count >= 20 %>
      <% times = 4 %>
    <% elsif Recycle.where(user: current_user).count >= 15 %>
      <% times = 3 %>
    <% elsif Recycle.where(user: current_user).count >= 10 %>
      <% times = 2 %>
    <% elsif Recycle.where(user: current_user).count >= 5 %>
      <% times = 1 %>
    <% else %>
      <% times = 0 %>
    <% end %>

<% times.times do %>
  <%= image_tag "leaf-svgrepo-com.png", height: 40, alt: "Logo", class:'marker' %>
<% end %>
<% (5 - times).times do %>
  <%= image_tag "leaf-svgrepo-com2.png", height: 40, alt: "Logo", class:'marker' %>
<% end %>
</div>
<p class="catname"><strong>Super recycleur</strong></p>
<p><%= Recycle.where(user: current_user).all.select {|r| r.year == Date.today.year}.count %> recyclages </p>


</div>


<%= render "shared/navbar" %>
<div class="texte-infos">

<div class="container-profile">
    <h4>Activité</h4>
    <div class="container-profile-1">
      <h5><strong>Ce mois ci :</strong></h5>
      <p><%= Recycle.where(user: current_user).all.select {|r| r.month == Date.today.month && r.year == Date.today.year}.count %> recyclages</p>
    <%= link_to 'Voir le détail', activity_path, class:'voirplus' %>
    </div>
  </div>

  <h4>Dernier recylage</h4>
  <%= render "shared/card_last_recycle" %>



  <h4>Recycler à nouveau</h4>
  <div class="container-profile"><%= render "shared/recherche_opaque" %></div>

</div>
<div class="clear"></div>
