
<div class='page_title'>
<h1>Mes points de collecte favoris</h1>
</div>
<% @favorites.each do |favorite| %>
  <div class="favorite_container">

      <div class="bloc">
        <%= render "shared/icone-map" %>
        <div class="infos-map">
            <div class="favorite_title">
              <%= favorite.place.name%>
                  <div class="bouton_favoris">
              <%= link_to favorite_path(favorite), data: {turbo_method: :delete}  do %>
                <%= render "shared/icone-coeur-remove", without_bg: true  %>
              <% end %>
                  </div>
            </div>
            <div class="subinfos">
            <%= favorite.place.description %>
            <%= favorite.place.address %>
            </div>
        </div>

      </div>
  </div>
<% end%>
