

<div class="container-recycle-3">
        <div class="boutons-favoris">
        <%= link_to place_favorites_path(place),data: {turbo_method: :post}  do %>
        <%= render "shared/icone-coeur-remove", without_bg: true  %>
        <% end %>
        </div>



  <div class="bloc-align">
    <%= render "shared/icone-recycle" %>
      <div class='infos'>
      <p class="titre-carte"><strong><%= place.name %></strong></p>
      <p class="sous-titre-carte"> <%= place.address %></p>
      <p class="sous-titre-carte"><%= place.description %></p>
      <p class="sous-titre-carte"><%= place.conditions %></p>
      </div>
        <div class="boutons-carte">
          <button class="btn-primary details">J'y vais</button>
          <button class="btn-secondary">J'ai recyclé</button>
        </div>
  </div>
</div>
