<!DOCTYPE html>
<html>

  <head>
    <title>Recycle Map, donnez une seconde vie à vos déchets.</title>
    <meta property="og:title" content="Recycle Map">
    <meta property="og:description" content="Recycle Map permet de centraliser toutes les façons près de chez toi connard">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://recycle-map-mel-fd3b61b12f78.herokuapp.com/">
    <meta property="og:image" content="https://files.slack.com/files-tmb/T02NE0241-F068Q87JVEJ-f674cfbb4d/ogimage_plan_de_travail_1_720.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>

  <body>

  <%= render "shared/navbar" %>

  <%= render "shared/flashes" %>

    <%= yield %>
</html>
